body {
  background-color: lemonchiffon;
  text-align: center;
  font-family: Meiryo-UI;
  margin: auto;
}

h1 {
  font-family: Broadway;
  color: chocolate;
  font-size: 80px;
  margin: 0;
}

.game-rule {
  width: fit-content;
  height: auto;
  background-color: lightpink;
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px brown;
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
  font-size: large;
  line-height: 2;
}

.rule {
  font-size: x-large;
  font-weight: 800;
  color:rgb(194, 84, 5);
  padding-bottom: 0;
  margin-bottom: 0;
}

.expected-input {
  text-align: left;
}

#bet-oct {
  width: 50px;
}

#list {
  text-align: left;
}

#old-result {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 600;
}

.messagebox {
  width: 500px;
  height: 230px;
  overflow-y: auto;
  position: relative;
  background: #ffe4a6;
  box-shadow: 0px 0px 0px 5px #ffe4a6;
  border: dashed 2px white;
  padding: 0;
  color: #454545;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  overflow-x: hidden;
}

.messagebox:after {
  position:absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

ul {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  object-fit: cover;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  list-style: none;
}

dialog {
  width: 500px;
  height: 60%;
  vertical-align: auto;
}
#dialog-open {
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
#cat-fish {
  width: 300px;
  height: auto;
}
#dialog-close {
  font-size: 30px;
}
#oneresult-comment {
  font-size: 20px;
}
#oct {
  font-size: 20px;
  font-weight: 700;
}
#bank-borrow{
  background: black;
  color: yellow;
}
#debt{
  color: red;
  font-weight: 700;
  font-size: 20px;
}
